@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#222;
}
.card{
    width: 90vw;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: white;
    border-radius: 20px;
    padding: 40px 35px;
    margin:  100px auto 0;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    padding: 17px 48px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 7px 11px;
    font-size: 20px;
    flex: 1;
}
.search button{
    cursor: pointer;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
}
.search button img{
    width: 40px;
}
.details {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    /* margin-bottom: 60px; */
}
/*  
 .col {
    display: inline-block;
    text-align: center;
    width: 45%; Adjusted width to make room for both columns }  */

#weather{
    display: none;
    
    transition: all ease 0.3s;

}

#in{
    color: rgb(161, 14, 14); font-weight: bold; font-size: 20px;
    display: none;
    transition: all ease 0.3s;
}